@charset "UTF-8";

:root{
    --cor1:#404959;
    --cor2:#A68877;
    --cor3:#BFA393;
    --cor4:#F2E8E4;
    --cor5:#592525;

    --font_moda:'moda', arial, sans-serif;
    --font_padrao:'Bebas Neue', cursive;
}


/* tablets */
@media screen and (min-width: 768px) and (max-width: 976px) {

    /* menu */
    #logo > h1{
        font-size: 3em;
    }
    #mobile > ul > li > a{
        font-size: 1.4em;
        margin-top: 8px;
        padding-top: 18px;
    }
    #home{
        display: none;
    }
    /* menu */

     /* Sessão Moda */
     .moda > h1{
        font-size: 2em;
    }
    .moda > div > p{
        font-size: 1.8em;
    }
    .buttom > input{
        font-size: 1.2em;
        width: 350px;
    }
    /* Sessão Moda */

    /* banner começo e banner fim */
    .banner > div > p{
        font-size: 1.4em;
    }
    #banner2 > div > p{
        font-size: 1.8em;
    }
    /* banner começo e banner fim */

    /* Footer */
    #copyright > p{
        font-size: 1.4em;
        text-shadow: 0px 0px 5px #171a1e82;
    }
    #redes > a > img{
        width: 30px;
        border-radius: 50%;
    }
    /* Footer */
}
/* tablets */

/* telas grandes */
@media screen and (min-width: 977px){
    /* Menu */
    header{
        justify-content: space-around;
    }
    #logo{
        display: flex;
        align-items: center;
        height: 100%;
    }
    #logo > h1{
        padding-bottom: 12px;
        font-size: 3em;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.284);
    }
    #menu_mg{
        display: flex;
        align-items: center;
        
    }
    #menu_mg > ul{
        display: flex;
        list-style: none;
    }
    #menu_mg > ul > li > a{
        font-family: var(--font_moda);
        font-weight: bolder;
        font-size: 1.5em;
        height: 110px;
        padding: 39.8px 25px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.284);
    }
    #menu_mg > ul > li > a:hover{
        background-color: var(--cor4);
        color: var(--cor5);
        transition: 0.3s;
    }
    #home{
        display: block;
        position: absolute;
    }
    #home > a > img{
        background-color: #ffffff;
        border-radius: 50%;
        width: 50px;
        position: fixed;
        bottom: 100px;
        right: 50px;
        border: solid var(--cor5) 3.5px;
    }
    #home > a > img:hover{
    background-color: var(--cor4);
    }
    #mobile{
        display: none;
    }
    
    /* Menu */

     /* Sessão Moda */
     .moda > h1{
        font-size: 2em;
        border-radius: 10px;
    }
    .moda > div > p{
        font-size: 1.8em;
    }
    .buttom > input{
        font-size: 1.2em;
        width: 400px;
    }
    /* Sessão Moda */

     /* banner começo e banner fim */
     .banner > div > p{
        font-size: 1.6em;
        max-width: 976px;
    }
    #banner2 > div > p{
        max-width: 976px;
        font-size: 2em;
    }
    /* banner começo e banner fim */

    /* footer */
    footer{
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: 200px;
        padding-bottom: 0px;
        
    }

    footer > div{
        font-size: 1.5em;
        height: 100%;
        padding: 0px;
        margin: 0px 50px;
        padding-bottom: 0px;
        color: var(--cor4);
    }
    
    #copyright > p{
        text-shadow: 0px 0px 5px #171a1e82;
    }
    
    #redes > a > img{
        width: 35px;
        margin: 0px 15px;
        border-radius: 50%;
    }
    
    #redes > a > img:hover{
        box-shadow: 0px 0px 5px 0px rgb(167, 165, 165);
        transition: 0.3s;
    }
/* telas grandes */
}