/* Paletas de cores do site */
.modelo-1-hex { color: #404959; }
.modelo-2-hex { color: #A68877; }
.modelo-3-hex { color: #BFA393; }
.modelo-4-hex { color: #F2E8E4; }
.modelo-5-hex { color: #592525; }
