@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'moda';
    src: url(../fonts/Bernardo\ Moda\ contrast.ttf) format(TrueType);
    font-weight: normal;
    font-size: normal;
}

:root{
    --cor1:#404959;
    --cor2:#A68877;
    --cor3:#BFA393;
    --cor4:#F2E8E4;
    --cor5:#592525;

    --font_moda:'moda', arial, sans-serif;
    --font_padrao:'Bebas Neue', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font_padrao);
    background-color: var(--cor4);
    width: 100%;
    height: 100vh;
}

/* Menu Top*/
header{
    background-color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}

#logo > h1{
    font-family: var(--font_moda);
    font-size: 2.7em;
    
    color: white;
}

#menu_mg{
    display: none;
}
/* Menu Top */

a{
    color: white;
    text-decoration: none;
}

/* Menu bottom*/
#mobile{
    
    background-color: var(--cor5);
    width: 100%;
    min-width: 302px;
    height: 60px;
    bottom: 0;
    position: fixed;
}

#mobile > ul{
    list-style-type: none;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#mobile > ul > li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#mobile > ul > li > a{
    width: 100%;
    padding: 20px 0px;
    font-size: 1em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
}

#mobile > ul > li > a:hover{
    background-color: var(--cor4);
    color: var(--cor5);
    transition: 0.3s;
}
/* Menu bottom*/

/* Sessão 1*/
.banner{
    height: 533px;
    width: 100%;
    
}

.banner > div{
    width: 100%;
    height: 533px;
    background: white url(../imagens/backup_original/banner_02.jpg) center top no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
  
}

.banner > div > p{
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding: 15px;
    margin: 0px 10px 10px 10px ;
    background-color: #404959c4;
    border-radius: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.505);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.322);
}
/*Sessão 1*/

/*Sessão 2*/
.moda{
    margin: auto;
    max-width: 900px;
    padding-top: 10px;
}

.moda > h1{
    font-family: var(--font_moda);
    background-color: var(--cor5);
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.585);
    color: white;
    padding: 15px;
}

.moda > .sessão{
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor4);
}

.moda > div > img{
    width: 180px;
    height: 320px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.322);
}

.moda > div > p{
    font-family: var(--font_moda);
    text-align: left;
    font-weight: bolder;
    font-size: 2em;
    color: #000000;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    border-radius: 10px;
    
}

@media screen and (max-width: 351px) {
    .frase{
        display:none;
    }
    
}

.buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    background-color: var(--cor4);
    padding-bottom: 20px;
}

.buttom > input{
    font-family: var(--font_padrao);
    font-size: 1.2em;
    color: var(--cor4);
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.436);
}

.buttom > input:hover{
    background-color: var(--cor4);
    color: var(--cor5);
    transition: 0.3s;
    border: none;
}

footer{
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

footer > p{
    color: #282e38;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

footer > p > a{
    color: #282e38;
}

footer > p > a:hover{
    text-decoration: underline;
}

#banner2{
    height: 430px;
    width: 100%;
}

#banner2 > div{
    width: 100%;
    height: 430px;
    background: white url(../imagens/backup_original/mais_opções.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner2 > div > p{
    min-width: 278px;
    font-size: 1.5em;
    color: white;
    padding: 15px;
    margin: 10px 70px;
    background-color: #404959db;
    border-radius: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.714);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.322);
}